.dashboard {
    .header {
        font-size: 30px;
    }
    .widgetsContainer {
        margin-top: 50px;
    }
    .widgetWrapper {
        // border: solid 1px white;
        border-radius: 12px;
        padding: 0 25px 25px;
        background: #0b1f2f;
        .widgetTitle {
            border-bottom: solid 1px #3b5299;
            padding: 10px 0px;
            margin-bottom: 15px;
            font-size: 10px;
            color: #6588f0;
        }
    }
}