.dashboard {
    .header {
        font-size: 30px;
    }
    .widgetsContainer {
        margin-top: 50px;
    }
    .widgetWrapper {
        // border: solid 1px white;
        border-radius: 12px;
        padding: 25px;
        background: #0b1f2f;
    }
}